@font-face {
  font-family: FabricMDL2Icons;
  src: url("../assets/fonts/FabExMDL2.3.36_2.ttf");
}

:root {
  --bodyBackground: #fff;
  --border-Radius: 0.5rem;

  --color-Red: #cc0025;
  --color-Green: #008e0e;
  --color-Text: #3e3d40;
}